body {
  font-family: "Montserrat", sans-serif;
}
.header {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.buttonhead {
  width: fit-content;
  background-color: black;
  color: white;
  text-align: center;
  display: grid;
  padding: 5px 50px;
}
.header :hover {
  background-color: #484848;
}
.uppart {
  display: inline-flex;
  gap: 100px;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
}
@media all and (max-width: 1200px) {
  .part1,
  .logo {
    display: none;
  }
}
.main h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}
.text {
  justify-content: center;
  display: flex;
}
.text p {
  width: 800px;
  text-align: justify;
}
.main {
  width: 70%;
  background-color: #ebf5fb;
  margin: 0 auto;
}
.graypart {
  background-color: #414142;
  margin: 0 auto;
  width: 70%;
}
.graypart h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  justify-content: center;
  display: flex;
}
table {
  border: 1px solid gray;
  border-radius: 20px;
  background-color: #363638;
  margin-bottom: 18px;
}
tr,
td {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  width: 300px;
}
.one {
  display: inline-flex;
  padding-left: 30px;
}
ul,
li {
  color: white;
  list-style-type: none;
  font-size: 12px;
  padding-right: 10px;
}
button {
  color: white;
  text-align: center;
  background-color: #555558;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: none;
}
.footer {
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.itemfoot {
  height: 50px;
  background-color: black;
  color: white;
  width: 50px;
  background-color: black;
  color: white;
}
.mainitem {
  height: 50px;
  background-color: black;
  color: white;
  background-color: black;
  color: white;
  width: 700px;
}
